:root {
  --color-primary: #00ffff;
  --color-primary-text: #272727f1;
  --color-additional: #ffce00;
}

html,
body {
  color: var(--color-primary-text);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
