.CommentModel__parent {
  height: 653px;
  width: 689px;
  //   overflow-y: scroll;
    overflow-x: hidden;
  & .CommentModel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 0px 22px;
  }

  & .CommentModel__comments{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 15px;
     & textarea {
      outline: none;
      border: 2px solid rgb(233, 233, 233);
      transition: all 0.2s ease-in-out;
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      margin-bottom: 15px;
      border-radius: 6px;
    }
    & textarea:focus {
      // border: 2px solid var(--color-primary);
      box-shadow: rgba(0, 157, 255, 0.442) 0px 0px 8px 3px;
      
    }
  }
  & .CommentModel__otherComments{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 35px;
    height: 374px;
    overflow-y: scroll;

    & .CommentModel__singleComment{
      cursor: pointer;
      height: auto;
      padding: 10px;
      width: 100%;
      margin-top: 10px;
      border-radius: 6px;
     transition: all 0.1s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.081) 0px 0px 0px 1px;
      & h4{
        margin: 0px;
      }
      & p{
        margin: 5px 0px;
      }

    }
    & .CommentModel__singleComment:hover{
      transform: scale(1.01);
      box-shadow: rgba(0, 157, 255, 0.442) 0px 0px 8px 3px;
      border: 0.9;
    }
  }
  & .CommentModel__AddBtn__section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    min-height: 65px;
  }
}
