:root {
  --color-primary: rgb(29, 154, 212);
  --color-primary-text: #696969;
  --color-additional: #ffce00;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 100px;
}

html,
body {
  color: #696969;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
