.navbar_container {
  width: 100vw;
  min-height: 70px;
  padding-top: 5px;
  max-height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: fixed;
    z-index: 9;
    top: 0%;
    left: 0%;
    background-color: #fff;
  & .navbar {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    & .nav_links {
      flex: 1;
      display: flex;
      text-decoration: none;
      list-style: none;
      //   border: 2px solid red;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    & .nav_links li{
      padding: 10px;
    }
    & .nav_links li:hover {
      color: var(--color-primary);
    }
    & .navbar_logo {
      display: flex;
      //   border: 2px solid red;
      justify-content: space-around;
    }
  }
}
